<section class="footer mt-2">
    <footer>
        <div class="container text-white">
            <div class="row">
                <div class="col-md-4 mt-5 mt-5">
                    <h3>About Us</h3>
                    <p>Getting dressed up and traveling with good friends makes for a shared, unforgettable experience.
                    </p>
                    <div class="image mx-5 mt-5">
                        <img src="assets/logo.png" class="img-thumbnail mx-3" alt="...">
                    </div>
                    <h2>Senwell Group</h2>
                </div>
                <div class="col-md-4 mt-5">
                    <h3>Contact Info</h3>
                    <p> <span><i class="fa-sharp fa-solid fa-mobile"
                                style="color: #f2f2f2;"></i></span>&nbsp;&nbsp;+91 9175277758</p>
                    <p> <span><i class="fa-regular fa-envelope"
                                style="color: #ffffff;"></i></span>&nbsp;&nbsp;info@senwellsys.com</p>
                    <p> <span><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i></span>&nbsp;&nbsp;Gera's
                        Imperium Alpha,
                        Near Eon IT Park,
                        <br> Kharadi,
                        Pune - 411014
                        Maharastra (India)
                    </p>


                    <div class="social-icons mt-4 d-flex">
                        <p><span></span><a href="https://www.facebook.com/people/Senwell-Solutions/100068983571168/" class="text-decoration-none text-white" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a></p>
                        <p class="mx-3"><span><a href="https://twitter.com/i/flow/login?redirect_after_login=%2FSenwellPune" class="text-decoration-none text-white" target="_blank"><i
                                        class="fa-brands fa-x-twitter fa-xl"></i></a></span></p>
                        <p class="mx-3"><span><a href="https://www.youtube.com/@senwellgroup" class="text-decoration-none text-white" target="_blank"><i class="fa-brands fa-youtube fa-xl"></i></a></span></p>
                        <p class="mx-3"><span><a href="https://www.linkedin.com/company/70994100/admin/" class="text-decoration-none text-white" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a></span></p>
                        <p class="mx-3"><span><a href="https://www.instagram.com/senwellgroup/" class="text-decoration-none text-white" target="_blank"><i class="fa-brands fa-instagram fa-xl"></i></a></span></p>
                    </div>
                </div>
                <div class="col-md-4 mt-5">
                    <h3>Newsletter</h3>
                    <p>Don't miss a thing! Sign up to receive daily deals</p>
                    <div class="input-box">
                        <div class="mb-3">
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="Your Email Address">
                        </div>
                        <div class="button">
                            <button class="btn text-white">Subscribe</button>
                        </div>
                    </div>
                </div>
                <hr class="mt-5">
            </div>

            <div class="row last-section">
                <div class="col-md-6  text-white">
                    <p>&copy; Copyright Senwell Group </p>
                </div>


                <div class="col-md-6  text-white">
                    <div class="menus  d-flex">

                        <p class="mx-2"><a href="https://senwellsys.com/"
                                class="text-decoration-none text-white">Senwell Solutions</a></p>
                        <p class="mx-2"><a href="https://senwellexports.com/"
                                class="text-decoration-none text-white">Senwell Exports</a></p>
                        <p class="mx-2"><a href="#" class="text-decoration-none text-white">Isearch</a></p>
                        <p class="mx-2"><a href="#" class="text-decoration-none text-white">Senwell Fastners</a></p>
                        <p class="mx-2"><a href="https://commoditymasters.co/home"
                                class="text-decoration-none text-white">Commodity Masters</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>


