

<div class="container mt-5">
    <h3 class="text-center" data-aos="fade-up">Life At Senwell</h3>
    <div class="row mt-5">
        <div class="col-md-6" data-aos="fade-up">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel"  data-bs-interval="2000">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/senwelllife/img1.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/senwelllife/img2.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/senwelllife/img3.png" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span> -->
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span> -->
                </button>
              </div>
        </div>
        <div class="col-md-6">
            <h3 data-aos="fade-up">Navigating Excellence in Work and Harmony in Life at Senwell</h3>
            <p data-aos="fade-up">At Senwell, we believe in fostering a workplace culture that thrives on the dual pillars of excellence in work and harmony in life. Our commitment goes beyond traditional corporate structures; we envision a holistic approach that recognizes the integral connection between professional success and personal well-being.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <h3 data-aos="fade-up">Unity in Excellence</h3>
            <p data-aos="fade-up"> <b>"Unity in Excellence"</b> embodies the core philosophy at our organization, where a collective commitment to excellence forms the cornerstone of our shared journey. It signifies a collaborative spirit that unites individuals with diverse skills, backgrounds, and perspectives towards a common goal of achieving the highest standards of performance and impact.</p>
        </div>
        <div class="col-md-6" data-aos="fade-up">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel"  data-bs-interval="2000">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/senwelllife/img4.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/senwelllife/img5.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/senwelllife/img6.png" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span> -->
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span> -->
                </button>
              </div>
        </div>
       
    </div>
</div>