<div class="container-fluid location-section shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <div class="row">
        <div class="col-md-4">
            <div class="location mx-5" data-aos="zoom-in-down">
                <h2 >HEADQUARTER</h2>
             <p>Gera's Imperium Alpha, <br> Near Eon IT Park, <br> Kharadi, <br> Pune - 411014 <br> Maharastra (India)</p>
            </div>
           
        </div>
        <div class="col-md-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.3879855024716!2d73.95251807465303!3d18.55653896807562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c7f167b7470b%3A0xec281f2b9ea8e820!2sSenwell%20Solutions!5e0!3m2!1sen!2sin!4v1703757896144!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>