
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center" >
           
            <h2  data-aos="fade-down" >Our Clients</h2>
        </div>
    </div>
</div>


<div class="slider">
    <div class="slide-track" data-aos="zoom-in">
      <div class="slide">
        <img src="https://senwellsys.com/static/media/client1.a934c197bad100935a0f.webp" alt="">
      </div>
      <div class="slide">
        <img src="assets/cisco.png" alt="">
      </div>
      <div class="slide">
        <img src="assets/client10.webp" alt="">
      </div>
      <div class="slide">
        <img src="assets/client2.webp" alt="">
      </div>
      <div class="slide">
        <img src="assets/client3.webp" alt="">
      </div>
      <div class="slide">
        <img src="assets/client4.webp" alt="">
      </div>
      <div class="slide">
        <img src="assets/client5.webp" alt="">
      </div>
      <!-- <div class="slide">
        <img src="assets/exon.png" alt="">
      </div> -->
      <div class="slide">
        <img src="assets/client7.webp" alt="">
      </div>
      <div class="slide">
        <img src="assets/client8.webp" alt="">
      </div>
      <div class="slide">
        <img src="assets/client9.webp" alt="">
      </div>
      <div class="slide">
        <img src="assets/client3.webp" alt="">
      </div>
      <div class="slide">
        <img src="assets/client4.webp" alt="">
      </div>
      <div class="slide">
        <img src="assets/client5.webp" alt="">
      </div>
      <div class="slide">
        <img src="assets/client7.webp" alt="">
      </div>
      <div class="slide">
        <img src="assets/client8.webp" alt="">
      </div>
      <div class="slide">
        <img src="assets/client9.webp" alt="">
      </div><div class="slide">
        <img src="assets/exon.png" alt="">
      </div>
      
    </div>
  </div>