<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <section>
                <div class="row d-flex justify-content-center">
                  <div class="col-md-10 col-xl-8 text-center">
                    <h3 class="mb-4" data-aos="fade-down">What's Our Client Says!</h3>
                    <p data-aos="fade-down" class="mb-4 pb-2 mb-md-5 pb-md-0">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
                      numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
                      quisquam eum porro a pariatur veniam.
                    </p>
                  </div>
                </div>
              
                <div class="row text-center d-flex align-items-stretch">
                  <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
                    <div class="card testimonial-card">
                      <div class="card-up" style="background-color: #9d789b;"></div>
                      <div class="avatar mx-auto bg-white">
                        <img data-aos="zoom-in" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                          class="rounded-circle img-fluid" />
                      </div>
                      <div class="card-body">
                       
                        <h4 >Derick</h4>
                        <p>Hatchster Ltd. UK</p>
                        <hr />
                        <p class="dark-grey-text mt-4">
                          <i class="fas fa-quote-left pe-2"></i>Through Senwell Solutions, I've participated in multiple outsourcing projects for North American clients, with their performance consistently exceeding that of in-house teams. Their remarkable productivity sets the company apart, among other advantages.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
                    <div class="card testimonial-card">
                      <div class="card-up" style="background-color: #7a81a8;"></div>
                      <div class="avatar mx-auto bg-white">
                        <img data-aos="zoom-in"  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                          class="rounded-circle img-fluid" />
                      </div>
                      <div class="card-body">
                        <h4 class="mb-4">Kevin Atom</h4>
                        <h5>Property Hatch Ltd, United States</h5>
                        <hr />
                        <p class="dark-grey-text mt-4">
                          <i class="fas fa-quote-left pe-2"></i>I've engaged in numerous outsourcing projects for North American clients through Senwell Solutions. Their performance consistently surpasses that of clients' in-house teams, exemplifying remarkable productivity. This advantage, among others, sets the company apart significantly.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-0 d-flex align-items-stretch">
                    <div class="card testimonial-card">
                      <div class="card-up" style="background-color: #6d5b98;"></div>
                      <div class="avatar mx-auto bg-white">
                        <img data-aos="zoom-in" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                          class="rounded-circle img-fluid" />
                      </div>
                      <div class="card-body">
                        <h4 class="mb-4">Nicolo Anderson</h4>
                        <h5>England</h5>
                        <hr />
                        <p class="dark-grey-text mt-4">
                          <i class="fas fa-quote-left pe-2"></i>We are highly pleased with Senwell Solutions' performance as our contractor. Their team is extremely responsive, possesses a deep grasp of the subject matter, and consistently delivers code at an impressively rapid pace. This swiftness in code delivery holds particular significance for our travel-oriented business.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>
    </div>
</div>